<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">

    <label for="team[name]">Team Name: </label><br>
    <input type="text" name="team[name]">
    <br><br>
    <label for="team[motto]">Team Motto: </label><br>
    <input type="text" name="team[motto]">

    <h2>Hero 1</h2>
    <label for="team[members][][name]">Hero's Name: </label><br>
    <input type="text" id="member1_name" name="team[members][][name]">
    <br><br>
    <label for="team[members][][power]">Hero's Power: </label><br>
    <input type="text" id="member1_power" name="team[members][][power]">
    <br><br>
    <label for="team[members][][bio]">Hero's Biography: </label><br>
    <input type="text" id="member1_bio" name="team[members][][bio]">

    <h2>Hero 2</h2>
    <label for="team[members][][name]">Hero's Name: </label><br>
    <input type="text" id="member2_name" name="team[members][][name]">
    <br><br>
    <label for="team[members][][power]">Hero's Power: </label><br>
    <input type="text" id="member2_power" name="team[members][][power]">
    <br><br>
    <label for="team[members][][bio]">Hero's Biography: </label><br>
    <input type="text" id="member2_bio" name="team[members][][bio]">

    <h2>Hero 3</h2>
    <label for="team[members][][name]">Hero's Name: </label><br>
    <input type="text" id="member3_name" name="team[members][][name]">
    <br><br>
    <label for="team[members][][power]">Hero's Power: </label><br>
    <input type="text" id="member3_power" name="team[members][][power]">
    <br><br>
    <label for="team[members][][bio]">Hero's Biography: </label><br>
    <input type="text" id="member3_bio" name="team[members][][bio]">
    <br><br>
    <input type="submit" id="submit" value="Submit">

</form>

